<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDuWpTwKyUVAWICobVo1C_H9L04gN_e9Ks</string>
	<key>GCM_SENDER_ID</key>
	<string>703514851565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.laundry</string>
	<key>PROJECT_ID</key>
	<string>is3-laundry-c37bf</string>
	<key>STORAGE_BUCKET</key>
	<string>is3-laundry-c37bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703514851565:ios:99736035a0eace7e4574e4</string>
</dict>
</plist>